body {
  background-color:white
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: #333;

}

h2{
  color: #333;
}

h3{
  color: #333;
}